<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home </span>
    </a> 

    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Tutorial</a>
    </mat-list-item>
    <a mat-list-item routerLink="/contact-us" (click)="onSidenavClose()">
        <mat-icon>contact_mail</mat-icon><span class="nav-caption">Contact-Us</span>
    </a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/angular" (click)="onSidenavClose()">Angular Series</button>
      <button mat-menu-item routerLink="/git" (click)="onSidenavClose()">Git Series</button>
    </mat-menu>
  </mat-nav-list>