<div class="ng-star-inserted">
    <mat-sidenav-container class="mat-drawer-container mat-sidenav-container docs-component-viewer-sidenav-container">
        <div class="mat-drawer-backdrop ng-star-inserted"></div>
        <mat-sidenav-content cdkscrollable="" class="mat-drawer-content mat-sidenav-content ng-star-inserted">
            <div class="docs-component-sidenav-content">

                <app-page-header>
                    <!--app-page-header Place holder-->
                </app-page-header>

                <div class="docs-component-sidenav-inner-content">
                    <main class="docs-component-sidenav-body-content">
                        <app-nav class="ng-star-inserted">
                            <!--app-nav Place holder-->
                        </app-nav>

                        <app-viewer class="ng-star-inserted">
                        </app-viewer>

                    </main>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!---->
