<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Visual Studio Installation</mat-card-title>
        <mat-card-subtitle> Installation from Scratch</mat-card-subtitle>
    </mat-card-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0taSQfoIh_Y" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
        <p>
           How to Install Visual Studio Code in Windows
        </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>
        <a href="https://youtu.be/0taSQfoIh_Y" target="_blank">LIKE</a> 
    </button>  
    <button mat-button>
        <a href="https://youtu.be/0taSQfoIh_Y" target="_blank" >SHARE</a>
    </button>  
    </mat-card-actions>
</mat-card>


<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> Install Node JS in Windows.</mat-card-title>
        <mat-card-subtitle>Detailed Step</mat-card-subtitle>
    </mat-card-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wirQiCKScoE" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
        <p>
         Install Node JS in Windows. from Scratch
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>
            <a href="https://youtu.be/wirQiCKScoE" target="_blank">LIKE</a> 
        </button>  
        <button mat-button>
            <a href="https://youtu.be/wirQiCKScoE" target="_blank" >SHARE</a>
        </button>  
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Demo</mat-card-subtitle>
    </mat-card-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LFv1Csr2koc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
        <p>
         Angular Demo
         Detailed Steps
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>
            <a href="https://youtu.be/LFv1Csr2koc" target="_blank">LIKE</a> 
        </button>  
        <button mat-button>
            <a href="https://youtu.be/LFv1Csr2koc" target="_blank" >SHARE</a>
        </button>  
    </mat-card-actions>
</mat-card>