
mat-card{
   
    width: 85%;
    height: 100%;
    align-content: center;   
}
  .rdzentech img{
    width:100%
}

@media (max-width:599px) {
 
  }

  @media (max-width:720px) {
	
}

  @media(max-width: 959px) {
   
  }
  


