<form>
    <div>
    <mat-card mat-card-sm-image mat-card-md-image img mat-card-lg-image class="rdzentech">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>RDZenTech</mat-card-title>
            <mat-card-subtitle> Born To Learn</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.youtube.com/channel/UCVeobIJHERBu1d4XS2YicCg" target="_blank">
            <img class="contact-image" mat-card-image src="./assets/RdZenTech.png" alt="RDZENTECH">
        </a>
        <mat-card-content>
            <p>
                Learn with RD ZenTech
            </p>
        </mat-card-content>    
    </mat-card>
</div>
</form>