<form>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
      
     <mat-card mat-card-sm-image mat-card-md-image img mat-card-lg-image class="home">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Angular 12</mat-card-title>
            <mat-card-subtitle> TypeScript version 4.2 </mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.youtube.com/channel/UCVeobIJHERBu1d4XS2YicCg" target="_blank">
            <img class="card-image" mat-card-image src="./assets/Angular12.png" alt="Angular12">
        </a>
        <mat-card-content>
            <p>
                The latest update of Google's popular TypeScript-based web framework has been launched on the 12th of May and is currently accessible as a production release.
                Among different enhancements, the upgrade deprecates the inheritance View Engine assemblage and delivering pipeline for the more current Ivy technology.
            </p>
        </mat-card-content>    
    </mat-card>
    </mat-grid-tile>
        <mat-grid-tile>
    <mat-card mat-card-sm-image mat-card-md-image img mat-card-lg-image class="Angular11">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Angular 11</mat-card-title>
            <mat-card-subtitle> Latest Update </mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.youtube.com/channel/UCVeobIJHERBu1d4XS2YicCg" target="_blank">
            <img class="card-image" mat-card-image src="./assets/Angular11.png" alt="Angular11">
        </a>
        <mat-card-content>
            <p>
                Google has released the latest version of the most popular typescript-based framework, Angular. Angular 11 became available as a production release on 14th November.
                The Google-developed web framework has come up with a new version as a production release. The highlight of this version is router performance improvements, automatic inlining of fonts and stricter types. With the router performance apps are made faster. The Compile time downloads and inline fonts that are used and linked in the application.  Angular 11 features the default  Automatic font inlining that will be enabled for the applications that are updated.
            </p>
        </mat-card-content>    
    </mat-card>
    </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
</form>