<form>
  
                <mat-card  mat-card-sm-image mat-card-md-image img mat-card-lg-image class="rdzentech">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>RDZenTech</mat-card-title>
                        <mat-card-subtitle> Born To Learn</mat-card-subtitle>
                    </mat-card-header>
                    <a href="https://www.youtube.com/channel/UCVeobIJHERBu1d4XS2YicCg" target="_blank">
                        <img class="contact-image" mat-card-image src="./assets/rdzentech.jpg"
                            alt="RDZENTECH">
                    </a>
                    <mat-card-content>
                        <p>
                            Learn with RD ZenTech
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>
                            <a href="https://youtu.be/0taSQfoIh_Y" target="_blank">LIKE</a>
                        </button>
                        <button mat-button>
                            <a href="https://youtu.be/0taSQfoIh_Y" target="_blank">SHARE</a>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-divider>1</mat-divider>
 
                <mat-card mat-card-sm-image mat-card-md-image mat-card-lg-image class="activegyan">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>ActiveGyan</mat-card-title>
                        <mat-card-subtitle> Take Action</mat-card-subtitle>
                    </mat-card-header>
                    <a href="https://www.youtube.com/channel/UCAlNBsGkOOuMsPL5bhuNHqQ/videos" target="_blank">
                        <img class="contact-image" mat-card-image src="./assets/ActiveGyan.jpg"
                            alt="Active Gyan">
                    </a>
                    <mat-card-content>
                        <p>
                            Active Gyan
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>
                            <a href="https://www.youtube.com/channel/UCAlNBsGkOOuMsPL5bhuNHqQ/videos"
                                target="_blank">LIKE</a>
                        </button>
                        <button mat-button>
                            <a href="https://www.youtube.com/channel/UCAlNBsGkOOuMsPL5bhuNHqQ/videos"
                                target="_blank">SHARE</a>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-divider>2</mat-divider>
 
                <mat-card   mat-card-sm-image mat-card-md-image mat-card-lg-image class="BrightHindu">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title> BrightHindu</mat-card-title>
                        <mat-card-subtitle>भारतीयसंस्कृति</mat-card-subtitle>
                    </mat-card-header>
                    <a href="https://www.youtube.com/channel/UCFhoZguQOofKAkcE109DQCA/videos" target="_blank">
                        <img class="contact-image" mat-card-image src="./assets/BrightHindu.jpeg"
                            alt="Photo of a Shiba Inu">
                    </a>
                    <mat-card-content>
                        <p>
                            Bright Hindu
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>
                            <a href="https://youtu.be/nJv5hafUR4g" target="_blank">LIKE</a>
                        </button>
                        <button mat-button>
                            <a href="https://youtu.be/nJv5hafUR4g" target="_blank">SHARE</a>
                        </button>
                    </mat-card-actions>
                </mat-card>
       
</form>